<div class="container-form-wrapper">
<%= simple_form_for @dog, :html => {class: "form-input"}  do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :photo %>
<%= f.input :age %>
<%= f.association :breed %>
<%= f.button :submit %>
<% end %>
</div>
