<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="flash-notice"><%= flash[:notice] %></p>
      <div class="container-index-search-bar">
        <div>
          <form action="#" class="form-inline">
            <input type="text" id="form-input" class="form-control input-lg" placeholder="Where?">
            <input type="submit" class="btn btn-primary btn-lg" value="Search">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
     <% @dogs.each do |dog| %>
     <div class="col-xs-4">
      <%= link_to(dog_path(dog)) do %>
      <% if dog.photo == nil %>

      <div class="index-dog-item" style="background-image: url(<%= asset_url('doge.jpg') %>)">
        <div class="dogcaption">
          <h5><%= dog.breed.name %>, <%= dog.age %> </h5>
        </div>
      </div>



      <% else %>

      <div class="index-dog-item" style="background-image: url(<%= dog.photo %>)">
        <div class="dogcaption">
          <% if dog.age < 12 %>
          <h5><%= dog.breed.name.capitalize %>, <%= dog.age %> months </h5>
          <% else %>
          <h5><%= dog.breed.name.capitalize %>, <%= (dog.age)/12.round %> years </h5>
          <% end %>
        </div>
      </div>


      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="col-xs-3">
    <div id="map" class="index-map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>
</div>
