<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="flash-notice"><%= flash[:notice] %></p>
      <div class="container-index-search-bar">
        <div>
          <form action="#" class="form-inline">
            <input type="text" id="form-input" class="form-control input-lg" placeholder="Where?">
            <input type="submit" class="btn btn-primary btn-lg" value="Search">
          </form>
        </div>
        <div class="btn-group" id="buttons">
          <button type="button" class="btn btn-primary">Genra</button>
          <button type="button" class="btn btn-primary">Breed</button>
          <button type="button" class="btn btn-primary">Pedigree</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-9">
      <div class="row">
        <% @dogs.each do |dog| %>
        <div class="col-sm-4">
          <div class="card card-index">
              <% if dog.photo == nil %>
              <%= image_tag "dog.jpeg", style: "height: 250px; width: 275px" %>
              <% else %>
              <%= image_tag dog.photo, style: "height: 250px; width: 275px" %>
              <% end %>
              <div class="container-paragraph">
              <p class="paragraph-breed"> Race: <%= dog.breed.name %></p>
              <p class="paragraph-age"> Months: <%= dog.age %></p>
              </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class= "testdiv">
      </div>
    </div>
  </div>

</div>
