<div class="container">
  <div class="container-main">
    <div class="basic-info-show" data-spy="affix">
      <% if current_user != @dog.user %>
        <div class="inline-container"><h4>Name: </h4><p><%= @dog.name %></p class="inline-container"></div>
        <div class="inline-container"><h4>Age: </h4><p><%= @dog.age %></p></div>
        <div class="inline-container"><h4>Pedigree: </h4><p><%= @dog.pedigree %></p></div>
        <div class="inline-container"><h4>Breed: </h4><p><%= @dog.breed.name %></p></div>
        <div class="inline-container"><h4>Address: </h4><p><%= @dog.address %></p></div>
      <button type="button" class="btn request-appt" data-toggle="modal" data-target="#exampleModal">
        Ask <%= @dog.user.first_name %> to meet <%= @dog.name %>
      </button>
      <% else %>
      <%= link_to("This is your dog!! Go to dashboard", dashboard_path, html_options = {class: "btn btn-primary"}) %>
      <% end %>
    </div>
  </div>

  <div class="photo-container" style="background-image: url(<%= @dog.photo %>);">
  </div>

  <div class="description col-sm-8">
    <h4>Description: </h4><p><%= @dog.description %></p>
  </div>

  <div
  id="map"
  data-markers="<%= @marker.to_json %>"
  ></div>

  <%= render 'shared/modal' %>
</div>



