<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <%= image_tag @dog.photo, class: "dogshow_photo" %>
      <hr>
      <span><h4>Name: </h4><p><%= @dog.name %></p></span>
      <h4>Description: </h4><p><%= @dog.description %></p>
      <h4>Age: </h4><p><%= @dog.age %></p>
      <h4>Pedigree: </h4><p><%= @dog.pedigree %></p>
      <h4>Breed: </h4><p><%= @dog.breed.name %></p>
      <h4>Address: </h4><p><%= @dog.address %></p>
      <hr>
      <div
      id="map"
      data-markers="<%= @marker.to_json %>"
      ></div>
    </div>
    <div class="col-sm-4">
      <div class="affix calendar_show">
        <div class="calendar_overlay">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Ask <%= @dog.user.first_name %> to meet <%= @dog.name %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if current_user != @dog.user %>
          <h4>Contact <%= @dog.user.first_name %> to request an appointment to see <%= @dog.name %> the dog</h4>
          <%= simple_form_for([@dog, @appointment]) do |f| %>
          <%= f.input :date, as: :date, html5: true %>
          <%= f.input :message %>
          <div class="modal-footer">
          <%= f.button :submit, :label_html => { class: 'btn-dark' } %>
        </div>
        <% end %>
        <% else %>
        <%= link_to("This is your dog!! Go to dashboard", dashboard_path, html_options = {class: "btn btn-primary"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
