<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('https://images.unsplash.com/photo-1444212477490-ca407925329e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86d24240ca6b1df611e98ed6bd7a1efc&auto=format&fit=crop&w=1100&q=80');">
  <div class="banner-content">

    <div class="text">
     <%= image_tag "wlogo.png" %>
     <p class="text-description">Adopt your dog in a few clicks</p>
   </div>

   <form action="dogs" class="form-inline">
     <input  name="search-word" type="text" class="form-control input-lg form-input" placeholder="Where?">
     <input type="submit" class="btn btn-primary btn-lg" value="Search">
   </form>
 </div>
</div>


<h3 class="home-subtitle">Last dogs added to Dog Corner</h3>
<div class="home-wrapper">
<div class="row">
 <% @dogs.first(3).each do |dog| %>
 <div class="col-xs-4">
  <%= link_to(dog_path(dog)) do %>
  <% if dog.photo == nil %>

  <div class="index-dog-item home-card" style="background-image: url(<%= asset_url('doge.jpg') %>)">
    <div class="dogcaption home-caption">
      <h5><%= dog.breed.name %>, <%= dog.age %> </h5>
    </div>
  </div>



  <% else %>

  <div class="index-dog-item home-card" style="background-image: url(<%= dog.photo %>)">
    <div class="dogcaption home-caption">
      <% if dog.age < 12 %>
      <h5><%= dog.breed.name.capitalize %>, <%= dog.age %> months </h5>
      <% else %>
      <h5><%= dog.breed.name.capitalize %>, <%= (dog.age)/12.round %> years </h5>
      <% end %>
    </div>
  </div>


  <% end %>
  <% end %>
</div>
<% end %>
</div>
</div>
