<div class="dashboard-intro-box">
  <h3>Welcome to your dashboard <%= @user.first_name %></h3>
  <p>Review the dogs you added and manage your appointments</p>
</div>



<div class="dashboard-dog-container">
  <h5><%= "Your dogs" %></h5>

  <div class="row">
    <% @dogs.each do |dog| %>
    <div class="col-xs-6">
      <%= link_to(dog_path(dog)) do %>
      <% if dog.photo == nil %>
      <%= image_tag "map.png", class: "index_dog_photo" %>
      <% else %>
      <div class="dashboard-dog-item" style="background-image: url(<%= dog.photo %>)"> <h4><%= dog.name %>
      </h4>
      <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>

</div>




<div class="dashboard-appointment-container">
  <h2>Your appointments</h2>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#appointments-requested">Appointments you requested</a></li>
    <li><a data-toggle="tab" href="#appointments-invited">Appointments you've been invited to</a></li>
  </ul>

  <div class="tab-content">

    <div id="appointments-requested" class="tab-pane fade in active">
      <div class="panel-group">
        <% @appointments.each do |appointment| %>
        <div class="panel panel-success">
          <div class="panel-heading">Date: <%= appointment.date.strftime("%B %d, %Y")%> | <%= appointment.status.capitalize %>
          </div>
          <div class="panel-body">
            <p>Appointment with <%= appointment.dog.name %></p>
            <em><p><%= appointment.message %></em></p>
            <p><%= link_to "Cancel appointment", appointment_path(appointment), method: :delete, data: { confirm: "Are you sure to delete this appointment?" }, class: "btn btn-danger" %></p>
          </div>
        </div>
      </div>
      <% end %>


      <div id="appointments-invited" class="tab-pane fade">
        <div class="panel-group">
          <% @dogs.each do |dog| %>
          <% dog.appointments.each do |appointment| %>
          <div class="panel panel-primary">
            <div class="panel-heading">Date: <%= appointment.date.strftime("%B %d, %Y")%> | <%= appointment.status.capitalize %></div>
            <div class="panel-body">
              <p>Appointment with <%= appointment.user.first_name %></p>
              <em><p><%= appointment.message %></em></p>
              <p><%= link_to "Confirm appointment", appointment_path(appointment, :status => "confirmed"), :method => :put, class: "btn btn-success" %></p>
              <p><%= link_to "Decline appointment", appointment_path(appointment, :status => "declined"), :method => :put, class: "btn btn-primary" %></p>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>






