<div class="dashboard-intro-box">
  <h3>Welcome to your dashboard <%= @user.first_name %></h3>
  <p>Review the dogs you added and manage your appointments</p>
</div>


<!-- aggiungi un link to all'immagine del cane -->


<div class="dashboard-dog-container">
  <h5><%= "Your dogs" %></h5>
  <% @dogs.each do |dog| %>
  <%= link_to(dog_path(dog)) do %>
  <div class="dashboard-dog-item" style="background-image: url(https://i2.wp.com/go.tiffinohio.net/wp-content/uploads/2018/02/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818.jpeg?fit=840%2C530&ssl=1)"> <h4><%= dog.name %></h4> </div>
  <% end %>
  <% end %>
</div>


<div class="dashboard-appointment-container container">
  <h5><%= "Your appointments" %></h5>
  <% @appointments.each do |appointment| %>
  <div class="card">
    <h5 class="card-header"> Appointment date: <%= appointment.date %></h5>
    <div class="card-body">
      <h5 class="card-title">Appointment with <%= appointment.dog.name %></h5>
      <p class="card-text"><em><p><%= appointment.message %></em></p>
      <p class="card-text"><p>Status: <%= appointment.status %></p>
      <p><%= link_to "Cancel appointment", appointment_path(appointment), method: :delete, data: { confirm: "Are you sure to delete this appointment?" }%></p>
    </div>
  </div>
  <% end %>
</div>
